<div class="container det-page">

    <button class="btn btn-danger col-1" (click)='goHome()'>
        <svg class="bi bi-arrow-90deg-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M6.104 2.396a.5.5 0 010 .708L3.457 5.75l2.647 2.646a.5.5 0 11-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
                clip-rule="evenodd" />
            <path fill-rule="evenodd"
                d="M2.75 5.75a.5.5 0 01.5-.5h6.5a2.5 2.5 0 012.5 2.5v5.5a.5.5 0 01-1 0v-5.5a1.5 1.5 0 00-1.5-1.5h-6.5a.5.5 0 01-.5-.5z"
                clip-rule="evenodd" />
        </svg>
    </button>

    <div class="container user_data common_card m-2 p-5">
        <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-center">
                <img src="assets\dummy-user-img.png" alt="Avatar" style="width: 200px;" class="rounded-circle">
            </div>
            <div class="col-12 col-md-8 d-flex flex-column align-items-center ">
                <h3> {{user.name}} </h3>
                <h5>Username: {{user.username}}</h5>
                <h5>Email: {{user.email}}</h5>
                <h5>Phone: {{user.phone}}</h5>
            </div>
        </div>
        <div class="p-4">
            <h6>Website: {{user.website}}</h6>
            <h6>Address: {{user.address.street}}, {{user.address.suite}} | {{user.address.city}} - {{user.address.zipcode}} </h6>
            <h6>Company: {{user.company.name}} | {{user.company.catchPhrase}} | {{user.company.bs}}</h6>
        </div>
    </div>



</div>