.layout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(179, 167, 167);

    

}

.container{
    padding-top: 30px;
    padding-bottom: 100px;


}