<nav class="navbar navbar-expand-lg navbar-dark bg-danger d-flex justify-content-between">
    <a class="navbar-brand active">
        <div class="clickable" (click)="navigateHome()">
            Users APP
        </div>
    </a>

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link">
                <div class="clickable" (click)="navigateLogin()">
                    <div *ngIf="!authService.isLogged">
                        Log in                        
                    </div>
                    <div *ngIf="authService.isLogged">
                        Log Out                        
                    </div>        
                </div>
             </a>
        </li>
    </ul>
</nav>