.footer {
    background-color: #030303;
    color: white;
    height: 200px;
    width: 100%;
    text-align: right;
    margin-top: 50px;
    padding-right: 50px;
    bottom: 0%;
    position: relative;

    p {
        padding: 5px;

        span {
            font-size: 20px;
            font-weight: bold;
        }
    }
}