<div class="card-body common_card" >
  <div class="row">
    <div class="col">
      <h4>{{user.name}}</h4>
      <p class="info">Tel: {{user.phone}}</p>
      <p class="info">Email: {{user.email}}</p>
    </div>
    <div class="col col-3">
      <img src="assets\dummy-user-img.png" alt="Avatar" style="width: 50px;" class="rounded-circle">
    </div>
  </div>
  <div class="row justify-content-around">
    <button class="col-5 btn btn-light" (click)="viewProfile()">Ver Perfil</button>
    <button class="col-5 btn btn-dark" (click)="deleteThis()">Eliminar</button>
  </div>
</div>