<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-5">
            <div class="container common_card login_card border border-black">

                <input type="text" placeholder="User" #user>
                <input type="password" placeholder="Password" #pass>
                <div class="row">
                    <button type="button" (click)="login(user.value,pass.value)"
                        class="btn btn-light border border-black col-3 offset-7 font-weight-bold">LOG IN</button>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    Usuario y/o Contraseña Incorrecta
</div>