/* You can add global styles to this file, and also import other style files */
.common_card{
    background-color: #dc3545;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 20px;
    border-color: rgb(246, 160, 0);
    border-width: 50px;
}
