<!-- Spinner -->
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="spinner-border text-danger" role="status" *ngIf="isLoading">
            <span class="sr-only">Loading...</span>
        </div>
        
    </div>
</div>

<div *ngIf="!isLoading && userList.length==0">
    <div class="common_card">
        <div class="card-body">
            <h1>No hay usuarios para mostrar</h1>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let user of userList">
            <app-user-card [user]="user" (deleteUser)="deleteUser($event)"></app-user-card>
        </div>
    </div>
</div>